* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(139, 233, 16);
  padding: 30px;
  text-align: center;
  font-family: Segoe Script;
  font-size: 35px;
  color: rgb(179, 154, 154);
  text-shadow: 2px 2px 4px #000000;
}

.nav {
  float: left;
  width: 32%;
  font-size: 25px;
  height: 520px;
  background: rgb(212, 245, 24);
  font-family: Brush Script MT,cursive;
  padding: 20px;
  color: rgb(31, 20, 182);
}

.nav ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
  margin: 10px;
  font-size: 19px;
  color: rgb(145, 20, 78);
  line-height: 150%;
}


.main {
  float: left;
  padding: 20px;
  font-family: monaco,Consolas,Lucida Console,monospace;
  font-size: 22px;
  color: dodgerblue;
  width: 68%;
  background-color: #80ccdb;
  height: 520px;
}

input[type=text] {
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
}

.footer {
  background-color: rgb(61, 22, 134);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(205, 247, 18);
  }

.cat-triangles {
  color: rgb(213, 226, 216);
  text-shadow: 2px 2px 4px #640e0e;
  font-style: italic;
  font-weight: bold;
  }

.error-span {
   display: block;
   color: red;
  }

.button-submit {
  width: 12%;
  background-color: rgb(136, 87, 226);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #45a049;
}

  
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
