* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(139, 233, 16);
  padding: 30px;
  text-align: center;
  font-family: Segoe Script;
  font-size: 35px;
  color: rgb(179, 154, 154);
  text-shadow: 2px 2px 4px #000000;
}

.nav {
  float: left;
  width: 32%;
  font-size: 25px;
  height: 520px;
  background: rgb(212, 245, 24);
  font-family: Brush Script MT,cursive;
  padding: 20px;
  color: rgb(90, 16, 32);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 19px;
  color: rgb(27, 16, 77);
}


.main {
  float: left;
  padding: 20px;
  font-family: monaco,Consolas,Lucida Console,monospace;
  font-size: 22px;
  color: dodgerblue;
  width: 68%;
  background-color: #80ccdb;
  height: 520px;
}


.footer {
  background-color: rgb(139, 136, 136);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: white;
  }

.cat-triangles {
  background-color: rgb(145, 144, 206);
  font-style: italic;
  font-weight: bold;
  }

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
